<div class="appbar-container">
  <div class="appbar-layout">
    <nav>
      <ul>
        <li>
          <a
            routerLink="/home"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Home</a
          >
        </li>
        <li>
          <a
            routerLink="/product"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Product</a
          >
        </li>
        <li>
          <a
            routerLink="/movies"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Movies</a
          >
        </li>
      </ul>
    </nav>
    <div>Logout</div>
  </div>
</div>
