/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 12px auto;
  padding: 0 12px;
  display: flex;
  flex-direction: column;
}
